*,
:after,
:before {
    box-sizing: border-box;
    font-family: sans-serif;
}
:focus-visible { outline: none }
button { cursor: pointer; }
.first-task div,
.first-task input[type=text]{ margin-bottom: 15px; }
.first-task form > div:nth-of-type(2) > label::after {
    content: ' ';
    display: block;
}
.second-task {
    font-size: 11px;
    background: #75c25c;
}
    .second-task form {
        padding: 35px;
        color: #c9c9c9;
        max-width: 290px;
        background: white;
        text-align: center;
        margin: 100px auto 0;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
        .second-task input,
        .second-task button {
            width: 100%;
            border: none;
            outline: none;
            border-radius: 0;
            margin-bottom: 10px;
        }
        .second-task input {
            color: grey;
            padding: 15px 10px;
            background: #f2f2f2;
        }
            .second-task input::placeholder { color: #c9c9c9; }
        .second-task button {
            padding: 10px;
            color: #c1eccb;
            background: #00b03e;
        }
        .second-task a {
            color: #00b03e;
            text-decoration: none;
        }

.third-task { background: #dbe0eb; }
    .third-task form {
        font-size: 11px;
        max-width: 265px;
        border-radius: 5px;
        position: relative;
        background: #f3f6fa;
        margin: 100px auto auto;
        box-shadow: 0 0 3px rgba(0,0,0,.25);
    }
        .third-task label {
            top: -10px;
            right: -10px;
            position: absolute;

            width: 30px;
            height: 30px;
            color: white;
            display: flex;
            font-size: 12px;
            border-radius: 50%;
            align-items: center;
            background: #ed5335;
            border: 2px solid white;
            justify-content: center;
            box-shadow: 0 0 0 3px #ed5335,
                        0 0 4px 3px rgba(0 0 0, .3);
        }
        .third-task h1{
            margin: 0;
            color: #3e678e;
            font-size: 12px;
            font-weight: 600;
            padding: 10px 14px;
            border-bottom: 1px solid #bfc6d6;
            background: linear-gradient(#f3f6fa, #dee4ee);
        }
            .third-task div { padding: 14px; }
                .third-task input {
                    padding: 7px;
                    font-size: 12px;
                    margin-bottom: 14px;
                    border: 1px solid #c3cde7;
                }
                .third-task input::placeholder { color: #a3abc2; }
                .third-task input:focus,
                .third-task input:active {
                    border: 1px solid  #009fff;
                    box-shadow: 0 0 2px #009fff;
                }
                .third-task input:nth-of-type(1) { max-width: 130px; }
                .third-task input:nth-of-type(2),
                .third-task input:nth-of-type(3),
                .third-task input:nth-of-type(5) {
                    max-width: 38px;
                    margin-left: 13px;
                }
                .third-task input[type="tel"] {
                    width: 181px;
                    letter-spacing: 1px;
                }
                .third-task input,
                .third-task button { border-radius: 5px; }
                .third-task button {
                    width: 100%;
                    color: white;
                    padding: 7px;
                    font-weight: 600;
                    border: 1px solid #0087f1;
                    box-shadow: 0px 1px 0 1px #005ae2;
                    background: linear-gradient(#5bc3fc, #0087f1);
                }