* { box-sizing: border-box; }

.first-task {
    width: 300px;
    height: 190px;
    position: relative;
    background: #ffffcd;
    border: 2px solid black;
}
    .first-task .cube {
        width: 38px;
        height: 38px;
        position: absolute;
        background: #9acc99;
    }
    .first-task .cube.top-left {
        top: 0;
        left: 0;
    }
    .first-task .cube.top-right {
        top: 0;
        right: 0;
    }
    .first-task .cube.top-center {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .first-task .cube.center-left {
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    .first-task .cube.center-center {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .first-task .cube.center-right {
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .first-task .cube.bottom-left {
        left: 0;
        bottom: 0;
    }
    .first-task .cube.bottom-center {
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .first-task .cube.bottom-right {
        right: 0;
        bottom: 0;
    }


.second-task .cube {
    width: 50px;
    height: 50px;
    position: absolute;
}
    .second-task .cube.first {
        top: 25px;
        z-index: 2;
        left: 25px;
        background: #ff8888;
    }
    .second-task .cube.second {
        top: 55px;
        z-index: 1;
        left: 55px;
        background: #7e89eb;
     }
    .second-task .cube.third {
        top: 85px;
        z-index: 1;
        left: 85px;
        background: #4dee99;
    }


.third-task {
    width: 250px;
    height: 550px;
    position: relative;
    border: 1px solid black;
}
    .third-task .light {
        left: 0;
        right: 0;
        position: absolute;

        width: 125px;
        margin: auto;
        height: 125px;
        border-radius: 50%;
        border: 1px solid black;
    }
    .third-task .light.red {
        top: 70px;
        background: red;
    }
    .third-task .light.yellow {
        top: 210px;
        background: yellow;
    }
    .third-task .light.green {
        top: 355px;
        background: green;
    }

.fourth-task {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: relative;
    background: #4dee99;
}
    .fourth-task div {
        background: white;
        position: absolute;
    }
    .fourth-task .left-eye,
    .fourth-task .right-eye {
        top: 90px;
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }
    .fourth-task .left-eye { left: 125px; }
    .fourth-task .right-eye { right: 125px; }
    .fourth-task .nose,
    .fourth-task .mouth {
        left: 0;
        right: 0;
        margin: auto;
    }

    .fourth-task .nose {
        top: 250px;
        width: 90px;
        height: 90px;
    }
    .fourth-task .mouth {
        top: 435px;
        width: 250px;
        height: 25px;
    }


.fifth-task .title {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;

    margin: 0;
    color: white;
    padding: 15px;
    font-weight: 400;
    text-align: center;
    background: #c4cd14;
}
.fifth-task .text {
    width: 95%;
    padding: 25px;
    max-width: 800px;
    margin: 70px auto 0;
    border: 1px solid #c4cd14;
}